@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

/* ///////////////// BASIC STYLES \\\\\\\\\\\\\\\\\\\\\\\ */
html, body
{
   margin: 0;
}

*
{
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.897);
    font-size: 1em;
    outline: none;
    box-sizing: border-box;
}
h1
{
    font-size: 1.5em;
}
h2
{
    font-size: 1.3em;
}
h3
{
    font-size: 0.9;
}
h1, h2, h3
{
    font-weight: bold;
}
a
{
    text-decoration: none;
    color: black;
    list-style-type: none;
}
li
{
    list-style-type: none;
}


/* ///////////////// BODY \\\\\\\\\\\\\\\\\\\\\\\ */
.main-content
{
    display: flex;
    flex-flow: column wrap;
}

/* ///////////////// HEADER \\\\\\\\\\\\\\\\\\\\\\\ */
nav
{
    padding: 2em;
}
.navigation
{
    display: flex;
    justify-content: space-between;
}
.liens-menu ul
{
    display: flex; 
}
.liens-menu li
{
    padding-right: 40px;
}
.topBlue
{
    border-top: 3px solid #0065fc;
    padding: 25px;
    padding-top: 28px;
    color: #0065fc;
}
.colorInscri
{
    color:  #0065fc;
    font-weight: bold;
}

/* ///////////////// SECTION RECHERCHE (filtres etc.) \\\\\\\\\\\\\\\\\\\\\\\ */
section
{
    padding: 2em;
}
.svg
{

    width : 18px;
    height : 18px;
}
h1
{
    font-weight: bold;
    margin: 1em 0 0.3em 0;
}
h1 ~ p 
{
    margin: 0em 0em 1em 0;
}
.logoFiltre
{
    display: flex;
    background-color: #deebff;
    border-radius: 9999px;
    margin-right: 10px;
    padding: 0.7em;
}
.infor
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 99999px;
    padding-right: 1em;
    margin-right: 20px;
  
}
.indication
{
    margin-right: 1em;
}
.search-input
{
    border: 1px solid #f2f2f2;

}
.submit-input
{
    background-color: #0065FC;
    color: white;
    height: 41px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    position: absolute;
}
.search
{
    display: flex;
    position: relative;
    margin-bottom: 20px;
}
.svgPosition
{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    padding: 10px;
}
input
{
    padding: 10px;
    font-weight: bold;
}
.filtres
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.filtres p
{
    margin-right: 20PX;
}




/* ///////////////// SECTION HEBERGEMENT ET POPULAIRE \\\\\\\\\\\\\\\\\\\\\\\ */

#container-hebergement-populaire
{
    display: flex;
    margin-bottom: 100px;
    padding: 2em;
}
/* //////////////// HEBERGEMENT \\\\\\\\\\\\\\\\\\\ */
.hebergement
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-right: 2em;
    width: 70%;
}
.titleherbegement
{
    width: 100%;
}
.container-hebergement
{
    display: flex;
    margin: 1.5%;
    border: 4px solid white;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: 30%;
    
}
.hebergement-information
{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5em;
    height: 80px;
}
.hebergement-information .stars
{
    position: absolute;
    bottom: 0;
}
.monimageh
{
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    height: 100px;
}
.auberge-la-cannebière
{
    background-image: url(images/hebergements/2_large/first.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-du-port
{
    background-image: url(images/hebergements/2_large/second.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-les-mouettes
{
    background-image: url(images/hebergements/2_large/third.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.auberge-le-panier
{
    background-image: url(images/hebergements/2_large/fourth.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-de-la-mer
{
    background-image: url(images/hebergements/2_large/fifth.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-chez-amina
{
    background-image: url(images/hebergements/2_large/sixth.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.afficherPlus
{
    width: 100%;
}
.container-hebergement img
{
    border-radius: 10px;
    width: 100%;
}

.stars img
{
    width : 15px;
    height : 15px;
}

/* //////////////// POPULAIRE \\\\\\\\\\\\\\\\\\\ */
.populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
}
.populaireLogo
{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1em;
    justify-content: space-between;
}

.monimagep
{
    background-repeat: no-repeat;
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    max-width: 150px;
    min-height: 100%;
}
.hotel-le-soleil-du-matin
{
    background-image: url(images/hebergements/2_large/first.populaire.jpg);
    background-position: center;
    background-size: cover;
}
.au-coeur-de-leau
{
    background-image: url(images/hebergements/2_large/second.populaire.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.hotel-tout-bleu-et-blanc
{
    background-image: url(images/hebergements/2_large/third.populaire.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.container-populaire
{
    display: flex;
    flex: 1 1 150px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
    margin-bottom:1.5em;
}
.populaire-information
{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    flex-direction: column;
    position: relative;
}
.populaire-information .stars
{
    padding-bottom: 0.5em;
    position: absolute;
    bottom: 0;
}


/* ////////// ACTIVITES \\\\\\\\\\\ */
#activite
{
    display: flex;
    margin-bottom: 100px;
    padding: 2em;
}
.big-container-activite
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    border-radius: 10px;
    margin-right: 2em;
    width: 100%;

}
.titleactivite
{
    width: 100%;
}
.container-activite
{
    box-shadow: 0 5px 5px rgb(207, 207, 207);
    display: flex;
    margin: 1em;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 150px;
    background-color: white;
    
}
.double-container
{
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
}
.activite-information
{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
   /* height: 80px; = SUPPRIME */
}
.image-activite
{
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    flex-grow: 1; /* NOUVEAU */
}
.vieux-port
{
    background-image: url(images/activites/2_large/vieux-port.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.fort-de-pomegues
{
    background-image: url(images/activites/2_large/fort-de-pomegues.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.iles-du-frioul
{
    background-image: url(images/activites/2_large/îles-du-frioul.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.parc-national
{
    background-image: url(images/activites/2_large/parc-national.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.notre-dame
{
    background-image: url(images/activites/2_large/notre-dame.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.parc-longchamp
{
    background-image: url(images/activites/2_large/parc-longchamp.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.container-activite img
{
    border-radius: 10px;
    width: 100%;
}



/* //////////////// LE FOOTER \\\\\\\\\\\\\\\\\\\ */
footer
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #f2f2f2;

}
footer div
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 2em;
}
footer h3
{
    font-weight: bold;
    margin-bottom: 20px;

}
footer a
{
    margin-bottom: 10px;
}

/* //////////////// MEDIA QUERIES \\\\\\\\\\\\\\\\\\\ */
@media all and (max-width: 600px)

/* ///////////////// HEADER \\\\\\\\\\\\\\\\\\\\\\\ */

{
    nav
{
    padding: 2em;
}
.navigation
{
    display: flex;
    flex-direction: column;
    
}
.liens-menu ul
{
    display: flex;
}
.liens-menu li
{
    padding-right: 40px;
    padding-top: 30px;
}
.topBlue
{
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 28px;
    padding-bottom: 28px;
    color: #0065fc;
    width: 50%;
}
.bottomGrey
{
    border-bottom: 3px solid  #f2f2f2;
    padding: 28px;
    padding-bottom: 28px;
    width: 50%;
}
.colorInscri
{
    color:  #0065fc;
    font-weight: bold;
    position: absolute;
    top: 48px;
}

/* ///////////////// SECTION RECHERCHE (filtres etc.) \\\\\\\\\\\\\\\\\\\\\\\ */
section
{
    padding: 2em;
}
.svg
{

    width : 18px;
    height : 18px;
}
h1
{
    font-weight: bold;
    margin: 1em 0 0.3em 0;
}
h1 ~ p 
{
    margin: 0em 0em 1em 0;
}
.logoFiltre
{
    display: flex;
    background-color: #deebff;
    border-radius: 9999px;
    margin-right: 10px;
    padding: 0.7em;
}
.infor
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.box
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 99999px;
    padding-right: 1em;
    margin-right: 20px;
  
}
.indication
{
    margin-right: 1em;
}
.search-input
{
    border: 1px solid #f2f2f2;

}
.submit-input
{
    background-color: #0065FC;
    color: white;
    height: 41px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    position: absolute;
}
.search
{
    display: flex;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
}
.svgPosition
{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    padding: 10px;
    height: 41px;
}
input
{
    padding: 10px;
    font-weight: bold;
}
.filtres
{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.filtres p
{
    margin-right: 20PX;
}

/* ///////////////// SECTION HEBERGEMENT ET POPULAIRE \\\\\\\\\\\\\\\\\\\\\\\ */

#container-hebergement-populaire
{
    display: flex;
    margin-bottom: 100px;
    padding: 2em;
    flex-direction: column;
}
/* //////////////// HEBERGEMENT \\\\\\\\\\\\\\\\\\\ */
.hebergement
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-right: 2em;
    width: 70%;
}
.titleherbegement
{
    width: 100%;
}
.container-hebergement
{
    display: flex;
    margin: 1.5%;
    border: 4px solid white;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: 30%;
    
}
.hebergement-information
{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5em;
    height: 80px;
}
.hebergement-information .stars
{
    position: absolute;
    bottom: 0;
}
.monimageh
{
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    height: 100px;
}
.auberge-la-cannebière
{
    background-image: url(images/hebergements/2_large/first.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-du-port
{
    background-image: url(images/hebergements/2_large/second.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-les-mouettes
{
    background-image: url(images/hebergements/2_large/third.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.auberge-le-panier
{
    background-image: url(images/hebergements/2_large/fourth.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-de-la-mer
{
    background-image: url(images/hebergements/2_large/fifth.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.hotel-chez-amina
{
    background-image: url(images/hebergements/2_large/sixth.hebergement.jpg);
    background-position: center;
    background-size: 100%;
}
.afficherPlus
{
    width: 100%;
}
.container-hebergement img
{
    border-radius: 10px;
    width: 100%;
}

.stars img
{
    width : 15px;
    height : 15px;
}

/* //////////////// POPULAIRE \\\\\\\\\\\\\\\\\\\ */
.populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
}
.populaireLogo
{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1em;
    justify-content: space-between;
}

.monimagep
{
    background-repeat: no-repeat;
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    max-width: 150px;
    min-height: 100%;
}
.hotel-le-soleil-du-matin
{
    background-image: url(images/hebergements/2_large/first.populaire.jpg);
    background-position: center;
    background-size: cover;
}
.au-coeur-de-leau
{
    background-image: url(images/hebergements/2_large/second.populaire.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.hotel-tout-bleu-et-blanc
{
    background-image: url(images/hebergements/2_large/third.populaire.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.container-populaire
{
    display: flex;
    flex: 1 1 150px;
    border: 4px solid white;
    border-radius: 15px;
    background-color: white;
    margin-bottom:1.5em;
}
.populaire-information
{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    flex-direction: column;
    position: relative;
}
.populaire-information .stars
{
    padding-bottom: 0.5em;
    position: absolute;
    bottom: 0;
}

/* ////////// ACTIVITES \\\\\\\\\\\ */
#activite
{
    display: flex;
    margin-bottom: 100px;
    padding: 2em;
}
.big-container-activite
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: auto;
    border-radius: 10px;
    margin-right: 2em;
    width: 100%;

}
.titleactivite
{
    width: 100%;
}
.container-activite
{
    box-shadow: 0 5px 5px rgb(207, 207, 207);
    display: flex;
    margin: 1em;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 150px;
    background-color: white;
    
}
.double-container
{
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
}
.activite-information
{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
   /* height: 80px; = SUPPRIME */
}
.image-activite
{
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    flex-grow: 1; /* NOUVEAU */
}
.vieux-port
{
    background-image: url(images/activites/2_large/vieux-port.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.fort-de-pomegues
{
    background-image: url(images/activites/2_large/fort-de-pomegues.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.iles-du-frioul
{
    background-image: url(images/activites/2_large/îles-du-frioul.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.parc-national
{
    background-image: url(images/activites/2_large/parc-national.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.notre-dame
{
    background-image: url(images/activites/2_large/notre-dame.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.parc-longchamp
{
    background-image: url(images/activites/2_large/parc-longchamp.jpg);
    background-position: center;
    background-size: cover; /* NOUVEAU */
}
.container-activite img
{
    border-radius: 10px;
    width: 100%;
}



/* //////////////// LE FOOTER \\\\\\\\\\\\\\\\\\\ */
footer
{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;

}
footer div
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 2em;
}
footer h3
{
    font-weight: bold;
    margin-bottom: 20px;

}
footer a
{
    margin-bottom: 10px;
}

@media all and (min-width: 1750px)
{
    .main-content
    {
        width: 75%;
        margin: auto;
    }
}